<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mo="http://schema.broadleafcommerce.org/mo"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd






        http://schema.broadleafcommerce.org/mo
        http://schema.broadleafcommerce.org/mo/mo-3.0.xsd">

    <mo:override id="blMetadataOverrides">
        <mo:overrideItem ceilingEntity="org.broadleafcommerce.core.catalog.domain.Product">
            <mo:field name="templatedEntity.template">
                <mo:property name="group" value="ProductImpl_General_Misc"/>
                <mo:property name="order" value="1"/>
            </mo:field>
            <mo:field name="defaultSku.quantityAvailable">
                <mo:property name="excluded" value="true"/>
            </mo:field>
            <mo:field name="displayTemplate">
                <mo:property name="excluded" value="true"/>
            </mo:field>
        </mo:overrideItem>
        <mo:overrideItem ceilingEntity="org.broadleafcommerce.core.catalog.domain.Category">
            <mo:field name="templatedEntity.template">
                <mo:property name="group" value="CategoryImpl_Category_Miscellaneous"/>
                <mo:property name="order" value="1000"/>
                <mo:property name="tooltip" value="TemplatedEntity_CagtegoryImpl_tooltip"/>
            </mo:field>
            <mo:field name="displayTemplate">
                <mo:property name="excluded" value="true"/>
            </mo:field>
        </mo:overrideItem>
    </mo:override>

</beans>